:host {
  &::before {
    content: "";
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: -100px;
    border: 30px;
    border-color: black;
    background: var(--terciary-gradient);
  }
  .space-gradient {
  background: var(--terciary-gradient);
  background-size: 400% 400%;
  animation: moverFundo 15s ease infinite;
}

  header,
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    img {
      border-radius: 200px;
      border: 5px solid var(--black );
      margin-bottom: 15px;
      transition: 
      transform 0.3s ease,
      box-shadow 0.3s ease;
    }
    img:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    }
  }

  aside {
    p {
      text-align: center;
    }

    nav ul,
    section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    nav {
      margin: 20px 0;

      ul {
        li {
          a {
            width: 250px;
          }
        }
      }
    }

    section {
      figure {
        width: 335px;
        height: 77px;

        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        border: 1px solid var(--white);
        border-radius: 7px;

        figcaption {
          a {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            p {
              margin: 3px 0;
            }

            strong {
              color: var(--primary);
            }
          }
        }
      }
    }
  }

  @media (max-width: 750px) {
    aside nav ul,
    section {
      flex-direction: column;
      gap: 15px;
    }

    aside nav ul li,
    aside nav ul li a,
    section figure {
      width: 100%;
    }
  }
}
