<header>
  <img
    src="assets/img/Guilherme.jpg"
    alt="Guilherme Mota - Foto de Perfil"
    width="200px"
    height="200px"
    loading="eager"
  />
  <h1>Guilherme Mota</h1>
  
</header>


<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | Css |Git/Github </p>
    <p>Guaratinguetá, São Paulo, Brasil</p>
    <p>
      Atualmente estou em estagio de treinee na E.j Asimov.jr na área de desenvolvimento Desk. 
      Do qual descobri o gosto por JS pois atua no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Gcv.pdf" 
          target="_blank" 
          class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a href="https://kgmmota.github.io/#home"
           target="_blank" 
           class="btn btn-primary">
          Currículo Online
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/dener-s%C3%A3o-pedro-troquatte-ababa079/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5512991536479&text=Ol%C3%A1%20Guilherme,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (12) 9 9153-6479</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="motagui2000@icloud.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>motagui2000&#64;icloud.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
